* {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

.team {
  margin: 110px 240px 14px;
}

.team-header {
  display: flex;
}

.team-header-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  font-family: "PT Serif", sans-serif;
}

.team-header-detail {
  margin-left: 215px;
}

.team-header-detail-title {
  text-transform: uppercase;
  font-weight: 600;
}

.team-header-detail-string {
  margin-top: 10px;
  margin-bottom: 96px;
  width: 400px;
}

.team-members {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  grid-auto-rows: minmax(100px, auto);
}

.team-member {
  position: relative;
}

.team-member:nth-child(2) {
  margin-top: 50px;
}

.team-member > img {
  width: 70%;
}

.team-member > p {
  font-weight: 600;
}

.team-member-job {
  font-family: "PT Serif", sans-serif;
  font-size: 12px;
  writing-mode: vertical-rl;
  position: absolute;
  top: 0;
  right: 40px;
}

footer {
  margin-top: 115px;
  text-align: center;
  color: #a9a9a9;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}

.footer-user-name {
  font-size: inherit;
  font-weight: 600;
}

@media screen and (max-width: 767px) {
  .team {
    margin: 20px 12px 20px;
  }
  .team-header {
    flex-direction: column;
  }
  .team-header-detail {
    margin-top: 38px;
    margin-left: 0;
  }
  .team-header-detail-string {
    width: 100%;
    margin-bottom: 0;
  }
  .team-members {
    margin-top: 66px;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }
  .team-member > img {
    width: 50%;
  }
  .team-member-job {
    right: 80px;
  }
  footer {
    margin-top: 134px;
  }
}
